# performance test target (defaults to localhost:10000 for local PySpark Thrift server)
# set SPARK_THRIFT_HOST=spark_db when running via Docker Compose / Dagger CI
SPARK_THRIFT_HOST=localhost
SPARK_THRIFT_PORT=10000
SPARK_THRIFT_USER=dbt
SPARK_THRIFT_AUTH=NOSASL

# databricks credentials
DBT_DATABRICKS_HOST_NAME=<{this value}.cloud.databricks.com>.cloud.databricks.com
DBT_DATABRICKS_TOKEN=<personal token>
DBT_DATABRICKS_CLUSTER_NAME=<sql/protocolv1/o/{not this}/{this value}>
ODBC_DRIVER=</file/path/to/local/ODBC.driver>
DBT_DATABRICKS_ENDPOINT=</sql/1.0/warehouses/{this value}>

# users for testing 'grants' functionality
DBT_TEST_USER_1=
DBT_TEST_USER_2=
DBT_TEST_USER_3=
